* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: lavender;
    width: 100%;
    min-height: 100vh;
    border: 10px solid black;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_section h4 {
    text-align: end;
    font-size: 30px;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(11, 16, 33);
    text-transform: uppercase;
}

.image_container {
    border-radius: 50%;
    overflow: hidden;
}

.image_container,
img {
    width: 300px;
    height: 370px;
}

.about_section {
    margin-top: 50px;
}

.about_section h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about_section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
}

.awards_section {
    margin: 50px 0;
}

.awards_section h3 {
    margin-bottom: 20px;
    font-size: 30px;
}

.awards_section ul {
    margin-left: 50px;
}

.awards_section li {
    margin-bottom: 15px;
    font-size: 20px;
}

.owner {
    margin: 10px;
}

.owner h4 {
    justify-content: top;
}

footer {
    margin: 40px 0;

}

footer p {
    text-align: end;
}

#Owner {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

#Owner h4 {
    margin: 0;
    padding-right: 10px;
}